h1, h2, h3, p, div, body{

}
form{
	font-family: verdana, helvetica;
	margin: 10px;
	padding: 10px;
	border: 10px;
}

table {
  table-layout: fixed ;
  width: 15% ;
}
th, td, tr {
  width: 25% ;
  padding: 10px;
}
